@font-face {
    font-family:Quicksand-Light;
    src: url(Quicksand_Dash.otf) format('truetype');
}
            body{
                width: 600px;
                height: 100%;
                font-family: sans-serif;
                font-size: 15px;
            }
            .content-wrapper{
                width: 230px;
            }
            .restaurant-info{
                text-align: center;
               // font-family: Calibri Light;
                font-size: 20px;
            }
            tbody{
                border-top: 2px dotted gray;
            }
            table.desc-table{
                font-family: Times New Roman;//Microsoft YaHei UI Light;
                font-size: 16px;
                text-decoration: none;
                //font-weight: lighter;
            }
            .amount-desc{
                text-align: right;
            }
            .amount-desc > span{
                margin-right: 20px;
            }
            .small{
                width: 40%;
                position: relative;
                left: 30%;
            }
            .footer{
                height: 50px;
            }
            td{
                text-align: left;
            }
            hr{
                border: 0.1px dashed gray;
            }
            span.date-time{
                font-size: 14px;
                padding-top: 4px;
                padding-left: 10px;
            }
            div.print-button{
                position: relative;
                top: -350px;
                left: 60%;
            }
            input{
                height: 100px;
                width: 200px;
                font-size: 29px;
                background-color: gainsboro;
                border: 1px solid gray;
                border-radius: 5px;
            }
            .small-width{
                width: 10px;
                
            }
