@font-face {
    font-family:Quicksand-Light;
    src: url(DPSDbeyond.otf) format('truetype');
}
            body{
                width: 600px;
                height: 100%;
                font-family: sans-serif;
                font-size: 12px;
            }
            .content-wrapper{
                width: 270px;
            }
            .restaurant-info{
                text-align: center;
               // font-family: Calibri Light;
                font-size: 20px;
            }
            tbody{
                border-top: 1px solid black;
            }
            table.desc-table{
                font-family: Times New Roman;//Microsoft YaHei UI Light;
                font-size: 12px;
                text-decoration: none;
                //font-weight: lighter;
            }
            .amount-desc{
                text-align: right;
            }
            .amount-desc > span{
                margin-right: 20px;
            }
            .small{
                width: 40%;
                position: relative;
                left: 30%;
            }
            .footer{
                height: auto;
                text-align: justify;
            }
            td{
                text-align: left;
            }
         
            div.date-time{
                font-size: 12px;
                padding-top: 4px;
                padding-left: 10px;
            }
            div.print-button{
                position: fixed;
                bottom: 0px;
                right: 0px;
                background-color: white;
                color: orange;
            }
            input{
                height: 100px;
                width: 200px;
                font-size: 29px;
                background-color: gainsboro;
                border: 1px solid gainsboro;
                border-radius: 5px;
                background-color: orange;
                color: white;
            }
            input:hover{
                cursor: pointer;
            }
            .small-width{
                width: 10px;
            }
            .error-message{
                border: 1px solid gainsboro;
                padding: 10px;
                margin-left: 50px;
                margin-top: 50px;
                
                width: 300px;
                //height: 200px;
            }
            .error-message > span{
                position: relative;
                top: -25px;
                left: 40px;
                color: orangered;
            }
            .error-message .error-img{
                background-repeat: no-repeat;
                background-image: url('../img/quickserve-error.png'); 
                width: 30px;
                height: 30px;
            }
            .column-spacing{width: 15px;}
