label.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #fff;
    width: 100%;
    
}
input[type='file']{
    position: relative;
    top: -40px;
    cursor: pointer;
    opacity: 0;
}
select.form-control-select {
    border-color: #d2d6de;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
.restaurant-upload-loading{
    position: relative;
    top: -100px;
    display: none;
}
.spinner{
     position: relative;
    top: -250px;
    left: 15%;
    display: none;
}
div.restaurant-Show{
   // border: 2px solid black;
  // padding-top: 2%;
  min-width: 260px;
}

div.manage-controls{
    border: 1px solid gainsboro;
    margin: 10px;
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    color: orangered;
    margin-left: 60px;
    margin-right: 60px;
    min-width: 200px;
}
div.manage-controls > button,div.manage-controls > a > button {
    background: white;
    width: 100%;
    height: 10%;
    border: none;
    color: orangered;
    text-transform: uppercase;
    font-size:17px;
    padding-left: 25%;
    padding-right: 20%;
    text-align: left;
}
div.manage-controls > button > img,div.manage-controls > a > button > img{
    width: 25px;
    height: 25px;
}
div.manage-controls > button:focus{
    border: none;
}
div.manage-controls:hover{
    box-shadow: 2px 2px 2px gainsboro;
}

div.print-table-button{
    background-color: white;
    color: orangered;
    border:1px solid gainsboro;
    margin: 10px;
    width: auto;
    height: auto;
    font-size: xx-large;
    padding-left:5px;
    padding-right:5px;
    border-radius: 10px;
    font-weight: bolder;
    text-align: center;
    padding-top: 3%;
}
div.print-table-button > button{
    background-color: #fff;
    color: orangered;
    margin-bottom: 5px;
}

 .error-message{
    border: 1px solid gainsboro;
    padding: 10px;
    margin-left: 50px;
    margin-top: 50px;
    width: 300px;
}
.error-message > span{
    position: relative;
    top: -25px;
    left: 40px;
    color: orangered;
}
.error-message .error-img{
    background-repeat: no-repeat;
    background-image: url('../img/quickserve-error.png'); 
    width: 30px;
    height: 30px;
}
.tab-container >ul{
    padding-left: 30%;
}
.tab-container > ul> li{
    width: 300px;
    min-width: 50px;
    color: black;
    text-align: center;
}
.tab-container > ul> li > a{
    color: black;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(158, 158, 158, 0.09);
}
ul.nav > li.active >a{
    color: orangered;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
#loading-image{
    margin-top: 10%;
    margin-left: 40%;
}
div.order-button , div.bill-button{
    
    font-size: 15px;
    font-weight: lighter;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 2%;
    width: 100px;
    margin-bottom: 3%;
    background-color: white;
    
}
div.order-button:hover , div.bill-button:hover{
     box-shadow: 2px 2px 2px gainsboro;
     cursor: pointer;
}
div.bill-button{
    margin-left: 1%;
    margin-right: -1%;
}
div.order-button{
    margin-left: -1%;
    margin-right: 1%;
}
div.order-show{
    border: 1px solid gainsboro;
    border-radius: 5px ;
    margin: 10px;
    padding: 10px;
}

div.order-show:hover{
  box-shadow: 2px 2px 2px gainsboro;
  cursor: pointer;  
}

div.table-list > div.error-message,div.table-order-list > div.error-message{
    margin-top: 5%;
    margin-left: 35%;
}

#pagination{
    position: relative;
    float:left;
    margin-top: 10px;
    padding-left: 10%;
}
#pagination > span > button > li >a{
    color: orangered;
}

button.inventry-btn{
    margin-top: 3%;
    float: contour;
}

div.inven-header{
    
    
}

div.inven-header > h2 {
    margin-top: 0px;
    text-transform: uppercase;
    text-align: center;
}
div.box-header > div.col-xs-4{
    min-width: 450px;
}
div.inven-date{
    font-size: 18px;
}
div.inven-date > span {
   float: right;
}
div.inven-btn-div > button{
    margin-top: 2%;
    width: 130px;
}
 button.open-stock-btn, button.close-stock-btn{
   // float: right;
  width: 250px;
  margin: 10px;
}
section.stock-section{
    position: relative;
    //margin-top: 50px;
}

div.graph-outer{
    //border: 1px solid black;
}

div.graph-head{
    border: 1px solid blue;
    padding: 10px;
    border-radius: 5px;
    background-color: blue;
    color: #ffffff;
    margin-bottom: 10px;
}
div.graph-inner{
    border: 1px solid gainsboro;
}
div.graph-head > a {
    float: right;
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
}

th.action-width{
    width: 30%;
}
 
