.logo{
    width: 15em;
    margin-top: -1em;
    float: left;
    padding-top: 16px;   

}

.remove-space{
    padding-right: 0px;
    padding-left: 0px;
    float: right;
    text-align: center;
}
.btn-rest{
        width: 156px;
    height: 48px;
    text-align: center;
    font-size: 14px;
    letter-spacing: .2em;
        background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0.2);
    transition: 1s all ease;
    color:black;
}
.btn-rest:hover{
    background: #ffa726;
    color:white;
}
.img-rest{
        position: absolute;
    z-index: 1;
    width: 10em;
    margin-left: -1em;
}
.restaurant-img{
    border-radius: 5px 0 0 5px;
    
}
.welcome{
    margin:1em;
}
@media (max-width:360px){
    .btn-rest{
        width:134px;
    }
    .img-rest img{
        width:76%;
    }
}
@media (max-width:350px){
    
    .inner-list {
    padding-bottom: 29em!important;
}
}


/* ScrolBar  */
.scrollbar
{

height: 90%;
width: 100%;
overflow-y: hidden;
overflow-x: hidden;
}

.scrollbar:hover
{

/*height: 90%;
width: 100%;*/
overflow-y: scroll;
overflow-x: hidden;
}

/* Scrollbar Style */ 



#style-1::-webkit-scrollbar-track
{
border-radius: 2px;
}

#style-1::-webkit-scrollbar
{
width: 5px;
background-color: #F7F7F7;
}

#style-1::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #BFBFBF;
}
/* Scrollbar End */ 




@media (min-width: 848px){
.modal-dialog {
    width: 800px;
    margin: 30px auto;
}
}

.modal-body{
    height:456px;
    overflow-y: auto;
}

.btn-circle.btn-lg {
    width: 50px!important;
    height: 50px!important;
    padding: 10px 12px!important;
    border-radius: 25px!important;
    font-size:18px!important;
    line-height: 1.33!important;
    box-shadow: 2px 3px 4px grey!important;

}
.btn-circle {
    width: 20px!important;
    height: 20px!important;
    padding: 1px 0!important;
    border-radius: 15px!important;
    text-align: center!important;
    font-size: 12px!important;
    line-height: 1.428571429!important;
}

@media (max-width:480px){
.push-top-btn{
    margin-top: 10px;
}
    .mobile-admin{
        display: none!important;
    }
    .mobile-admin-logout{
        display: block!important;
        padding-bottom: 5.5em;
    }
    }
@media (min-width:480px){
    .mobile-admin{
        display: block!important;
    }
    .mobile-admin-logout{
        display: none!important;
    }
    }
.btn-grad.btn-success {
    text-shadow: 0 -1px 0 gba(0, 0, 0, 0.2);
    background-image: -webkit-linear-gradient(top, #5cb85c, #3d8b3d);
    background-image: linear-gradient(to bottom, #5cb85c, #3d8b3d);
    border-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.4);
    width:6.5em!important;
}
.btn-grad.btn-success:hover,
.btn-grad.btn-success:focus,
.btn-grad.btn-success:active,
.btn-grad.btn-success.active {
  background-image: none;
  border-color: rgba(0, 0, 0, 0.2);
  border-top-color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-grad.btn-primary {
    text-shadow: 0 -1px 0 gba(0, 0, 0, 0.2);
    background-image: -webkit-linear-gradient(top, #428bca, #2a6496);
    background-image: linear-gradient(to bottom, #428bca, #2a6496);
    border-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.4);
    width:6.5em!important;
}
.btn-grad.btn-primary:hover,
.btn-grad.btn-primary:focus,
.btn-grad.btn-primary:active,
.btn-grad.btn-primary.active {
  background-image: none;
  border-color: rgba(0, 0, 0, 0.2);
  border-top-color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-rect {
    border-radius: 0 !important;
}
.btn-line.btn-danger {
    color: #d9534f;
    background-color: #fff;
    border-color: #d43f3a;
    width:6.5em!important;
    padding: 10px!important;
}
.btn-line.btn-success {
    color: #5cb85c!important;
    background-color: #fff!important;
    border-color: #4cae4c!important;
    width:6.5em!important;
}
.btn-line.btn-danger:hover {
    color: #fff;
    background-color: #d9534f;
}
.btn-line.btn-success:hover {
    color: #fff!important;
    background-color: #5cb85c!important;
    
}
.fa-size{
    font-size: 1.5em;
}
.nav-tabs>li>a{
    width:174px;
     border: none;
}
@media (max-width:578px){
    .nav-tabs>li>a{
        width: auto;
    }
    .btn-circle.btn-lg{
      width: 36px!important;
    height: 36px!important;
    padding: 7px 8px!important;
    }
    .fa-size{
        font-size: 19px;
    }
}
@media (max-width:850px){
    .mobile-hide{
        display: none!important;
    }
    .mobile-show{
        display: inline-block!important;
    }
    .breadcrumb{
        width:100%;
        padding: 20px 0px 20px 28px !important;
    }
}
@media (max-width:768px){
    .page-heading{
        display: none;
    }
    .menu-list{
        display:none;
        
    }
    
}
@media (max-width:868px){
    .place-order{
        display: none;
    }
    .footer{
        display: block;
    }
    .order-cate{
        width:100%;
    }
    .order-items{
         height: 100%!important;
        
    }
    .btn-item, .btn-item-close{
        height: 20px!important;
        width: 20px!important;
    }
    .btn-item i, .btn-item-close i{
        font-size: 16px;
    }
}
@media (min-width:868px){
    .place-order{
        display: block;
    }
    .footer{
        display: none;
    }
    
}
.navbar-nav {
    margin: 7.5px -15px;
}
 .mobile-show{
        display: none;
    }
.nav-tabs {
    border-bottom: 1px solid rgb(251, 172, 24);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
        border: 1px solid rgb(251, 172, 24);
    border-bottom-color: transparent;
}

.nav-sm .fix-height{
    height: 360px;
    overflow-y: auto;
}
.nav-sm .x_panel{
    width:100%;
}
input[type=search]{
    border-radius: 20px;
    background: url(../../img/search-white.png) no-repeat 11px 7px rgba(247, 247, 247, 0.31);
    padding-left: 32px;
}


.x_content .btn-success{
    color: white;
    background-color: #4cae4c;
    border-color: #4cae4c;
    padding: 10px;
    width: 8em;
    }
.x_content .btn-success:hover{
    color: white;
    background-color: #389138;
    border-color: #4cae4c;
    }
.x_content .btn-primary{
    color: white;
    background-color: #2e6da4;
    border-color: #2e6da4;
    padding: 10px;
    width: 8em;
    }
.x_content .btn-primary:hover{
    color: white;
    background-color: #2B577D;
    border-color: #2e6da4;
    }
.dnf-style{
    position: absolute;
    width: 100%;
}
.dnf-style img{
    width: 190px;
}
.fa-date{
  padding: 10px;
}

.submenu{
	list-style: none;
    margin-left: -2em;
}
#sidebar-menu a[aria-expanded="true"] {
    color: #E74C3C!important;
    text-decoration: none!important;
    background-color: #f5f5f5!important;
}
a[aria-expanded="false"]{
     color: #000!important;
    text-decoration: none!important;
    background-color: #fff!important;
}
a.main-list:focus .fa-chevron-right{
    color: #E74C3C!important;
}
#sidebar-menu a[aria-expanded="true"] .fa-chevron-right  { 
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 53%;
    margin-right: -0px;
    color: #E74C3C!important;
} 
#accordion li.panel{
    margin-bottom: -2px;
}
#accordion li ul li.panel{
    margin-bottom: 0px;
}
.sub-list{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

/*-------------Place order ----*/
.order-inner {
    
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #e4e4e4;
    padding-bottom: 10px;
}
.select_user{
    margin-bottom: 10px;
}
.veg-tag{
    display: inline-block;
}
.veg{
    width: 16px;
}
.dish-name{
    display: inline-block;
    padding-left: 5px;
    font-size: 15px;
}
.order-inner ul, .item-view ul{
        list-style: none;
        padding: 10px;
}
.order-items li, .item-view li{
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e4e4;
    padding-top: 10px;
}
.order-items{
   /* height: 450px;
    overflow-y: auto;*/
        height: 100%;
    overflow-y: auto;
    max-height: 370px;
}
.details{
    padding-bottom: 7px;
}
.btn-item{
    background: white;
    border-color: limegreen;
    border-radius: 25px;
    width: 18px;
        height: 18px;
    padding: 0px 0px 0px 0px;
}
.btn-item i{
    color: limegreen;
    margin: 0px -3px;
    font-size: 11px;
    position: relative;
    top: -2px;

}
.no-tem{
    display: inline-block;
    border: none;
    background: none;
    width: 22px;
    font-size: 18px;
    position: relative;
    top: 2px;
    left: -1px;
    text-align: center;
}
.count, .price, .number, .dec, .inc, .quantity{
    display: inline-block;
}

.item-price{
    text-align: right;
    float: right;
    margin-right: .25em;
    font-size: 19px;
    font-weight: 600;
}
.price:before{
    font-family: 'FontAwesome';
    content: '\f156';
    
}
.submenu_items{
    cursor: pointer;
}
.sub_content{
    display: none;
}
.total-price:before{
    font-family: 'FontAwesome';
    content: '\f156';
    position: relative;
    left:-5px;
    
}
.submenu_text{
    font-size: 12px;
}
.filterinput{
    height: 35px;
}
.quantity{
    font-size: 11px;
}

.price{
    font-size: 16px
}
.total-price{
    font-size: 28px;
}
.total{
    float: right;
}
.name{
    font-size: 15px;
    padding: 12px;
}
.totals{
    margin-top: -19px;
    margin-bottom: 19px;
}
.checkout{
    position: relative;
    background-color: rgba(245, 134, 31, 0.89);
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1em;
    border: none;
    font-size: 15px;
}
.checkout:hover{
    background-color: #f5861f;
}
.search{
    background: url(../../img/search-white.png) no-repeat 8px 10px rgba(247, 247, 247, 0.31);
    padding-left: 32px;
}
.search:focus{
    background-color: white;
    border-color: #f5861f;
    }
.menu-list>li>a {
    width: auto;
}
.btn-price{
    margin-top: -5px;
    margin-left: 10px;
}
.btn-price:hover , .btn-item:hover , .btn-item-close:hover{
    box-shadow: 1px 1px 1px grey!important;
}
.nav>li {
    position: relative;
    display: inline-block;
}
.sub-item-list{
   /* margin-top: 7em;*/
}
.category-item{
    margin-bottom: -5px;
    padding: 0px 10px;
}
.sub-cat{
        height: 580px;
    overflow-y: auto;
}
.main-menu{
    /*position: fixed;*/
      -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 99999;
    background-color: white;
}
.menu-list>li>a{
        margin-right: -4px;
    border-bottom: 1px solid orange;
}
.item-title{
        height: 50px;
    font-size: 22px;
    padding: 10px 10px 10px 18px;
    background: #f0f0f0;
    margin-left: -.790em;
    margin-right: -0.79em;
}
.active-menu{
    border-bottom: 1px solid white!important;
    border-left: 1px solid #f5861f;
    border-top: 1px solid #f5861f;
    border-right: 1px solid #f5861f;
}
.inner-list{
    padding-bottom: 21em;
}
.modal-height{
    max-height: 315px;
}
/************** Footer ****************/

.pop-padding{
    padding-left:0px;
    padding-right: 0px;
}
.pop-margin{
    margin-left: 0px;
    margin-right: 0px;
}
.total-item{
    padding: .9em;
    font-size: 19px;
    border-right: 1px solid #D7D0D0;
    text-align: center;
    height: 100%;
    position: fixed;
}
.total-price-footer{
    font-size: 24px;
    padding: .5em;
}
@media (max-width:570px){
    .total-item{
        padding: .5em;
    }
    .total-price-footer{
        font-size: 16px;
        padding: .7em;
        font-weight: 600;
}
    .price {
        font-size: 16px;
}
   .checkout{
        word-break: break-all;
        padding-left: 0;
    }
}

.btn-item-close {
    background: white;
    border-color: red;
    border-radius: 25px;
    width: 22px;
    height: 22px;
    padding: 0px 0px 0px 0px;
    float: right;
    transition: .9s all ease;
    
}
.btn-item-close i {
    color: red;
    margin: 0px -4px;
}
.order-items li:hover .btn-dis{
    display: block;

}
.btn-dis{
    display: none;
    transition: .7s all ease;
    
}
#contents{
    list-style: none;
    margin-left: -3.1em;
}
.main-menu .x_title{
    padding-top: 13px;
}
.sub-item-list .x_panel, {
    border-top:none;
}
.sub-cat, .sub-cat .x_panel{
    border-top: none;
}
.main-menu .x_panel{
    border-bottom: none;
}
.site_title img{
    padding-top: 9px;
}
.menu_loader{
        margin-left: 20px;
    width: 25px;
    display: none;
}