.logo{
    width: 15em;
    margin-top: -1em;
    float: left;
    padding-top: 16px;   

}

.remove-space{
    padding-right: 0px;
    padding-left: 0px;
    float: right;
    text-align: center;
}
.btn-rest{
        width: 156px;
    height: 48px;
    text-align: center;
    font-size: 16px;
    letter-spacing: .2em;
        background-color: rgba(0,0,0,0.2);
    border-color: rgba(0,0,0,0.2);
    
}
.img-rest{
        position: absolute;
    z-index: 1;
    width: 10em;
    margin-left: -1em;
}
.restaurant-img{
    border-radius: 5px 0 0 5px;
    
}
.welcome{
    margin:1em;
}
@media (max-width:360px){
    .btn-rest{
        width:134px;
    }
    .img-rest img{
        width:76%;
    }
}



/* ScrolBar  */
.scrollbar
{

height: 90%;
width: 100%;
overflow-y: hidden;
overflow-x: hidden;
}

.scrollbar:hover
{

height: 90%;
width: 100%;
overflow-y: scroll;
overflow-x: hidden;
}

/* Scrollbar Style */ 



#style-1::-webkit-scrollbar-track
{
border-radius: 2px;
}

#style-1::-webkit-scrollbar
{
width: 5px;
background-color: #F7F7F7;
}

#style-1::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #BFBFBF;
}
/* Scrollbar End */ 
